<center>
     <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300">
</center>

#Problems for Peer Reviewed Assignment

# Assignment Scenario

Congratulations! You have just been hired by a US Venture Capital firm as a data analyst.

The company is considering foreign grain markets to help meet its supply chain requirements for its recent investments in the microbrewery and microdistillery industry, which is involved with the production and distribution of craft beers and spirits.

Your first task is to provide a high level analysis of crop production in Canada. Your stakeholders want to understand the current and historical performance of certain crop types in terms of supply and price volatility. For now they are mainly interested in a macro-view of Canada's crop farming industry, and how it relates to the relative value of the Canadian and US dollars.

# Introduction

Using this R notebook you will:

1.  Understand four datasets
2.  Load the datasets into four separate tables in a Db2 database
3.  Execute SQL queries unsing the RODBC R package to answer assignment questions

# Understand the datasets

To complete the assignment problems in this notebook you will be using subsetted snapshots of two datasets from Statistics Canada, and one from the Bank of Canada. The links to the prepared datasets are provided in the next section; the interested student can explore the landing pages for the source datasets as follows:

1.  <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210035901">Canadian Principal Crops (Data & Metadata)</a>
2.  <a href="https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210007701">Farm product prices (Data & Metadata)</a>
3.  <a href="https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates">Bank of Canada daily average exchange rates</a>


### 1. Canadian Principal Crops Data *

This dataset contains agricultural production measures for the principle crops grown in Canada, including a breakdown by province and teritory, for each year from 1908 to 2020.

For this assignment you will use a preprocessed snapshot of this dataset (see below).

A detailed description of this dataset can be obtained from the StatsCan Data Portal at:
https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210035901  
Detailed information is included in the metadata file and as header text in the data file, which can be downloaded - look for the 'download options' link.  

### 2. Farm product prices

This dataset contains monthly average farm product prices for Canadian crops and livestock by province and teritory, from 1980 to 2020 (or 'last year', whichever is greatest).

For this assignment you will use a preprocessed snapshot of this dataset (see below).

A description of this dataset can be obtained from the StatsCan Data Portal at:
https://www150.statcan.gc.ca/t1/tbl1/en/tv.action?pid=3210007701
The information is included in the metadata file, which can be downloaded - look for the 'download options' link.  

### 3. Bank of Canada daily average exchange rates *

This dataset contains the daily average exchange rates for multiple foreign currencies. Exchange rates are expressed as 1 unit of the foreign currency converted into Canadian dollars. It includes only the latest four years of data, and the rates are published once each business day by 16:30 ET.

For this assignment you will use a snapshot of this dataset with only the USD-CAD exchange rates included (see next section). We have also prepared a monthly averaged version which you will be using below.

A brief description of this dataset and the original dataset can be obtained from the Bank of Canada Data Portal at:
https://www.bankofcanada.ca/rates/exchange/daily-exchange-rates/

( * these datasets are the same as the ones you used in the practice lab)

### Dataset URLs

  1.  Annual Crop Data: https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Annual_Crop_Data.csv

  2.  Farm product prices: https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_Farm_Prices.csv
  
  3.  Daily FX Data: https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Daily_FX.csv
  
  4.  Monthly FX Data: https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_FX.csv
  

<span style="color:red">**IMPORTANT:**</span> You will be loading these datasets directly into R data frames from these URLs instead of from the StatsCan and Bank of Canada portals. The versions provided at these URLs are simplified and subsetted versions of the original datasets.

#### Now let's load these datasets into four separate Db2 tables.
Let's first load the RODBC package:

In [ ]:
install.packages("RODBC")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
library(RODBC)

## Problem 1
#### Create tables
Establish a connection to the Db2 database, and create the following four tables using the RODBC package in R.
Use the separate cells provided below to create each of your tables.

1.  **CROP_DATA**
2.  **FARM_PRICES**
3.  **DAILY_FX**
4.  **MONTHLY_FX**

### Solution 1



---


**Note 1:** I wasn’t able to connect Db2 database at Google Colab.  Instead, I used standard R libraries, but reached the same solutions.


---



**Note 2:** In Colab, you need to change the runtime environment to use R instead of Python. Here’s how you can do it:
1. In the Colab menu, click on Runtime.
2. Select Change runtime type.
3. Choose R from the dropdown menu under Runtime type.
---

The solutions are below...

In [ ]:
library(tibble)

In [ ]:
#CROP_DATA
CROP_DATA <- tibble(
  CD_ID = numeric(),
  YEAR = numeric(),
  CROP_TYPE = character(),
  GEO = character(),
  SEEDED_AREA = numeric(),
  HARVESTED_AREA = numeric(),
  PRODUCTION = numeric(),
  AVG_YIELD = numeric()
)
CROP_DATA$YEAR <- as.Date(CROP_DATA$YEAR)

In [ ]:
#FARM_PRICES
FARM_PRICES <- tibble(
  CD_ID = numeric(),
  DATE = numeric(),
  CROP_TYPE = character(),
  GEO = character(),
  PRICE_PRERMT = numeric()
)
FARM_PRICES$DATE <- as.Date(FARM_PRICES$DATE)

In [ ]:
#DAILY_FX
DAILY_FX <- tibble(
  DFX_ID = numeric(),
  DATE = numeric(),
  FXUSDCAD = numeric()
)
DAILY_FX$DATE <- as.Date(DAILY_FX$DATE)

In [ ]:
#MONTHLY_FX
MONTHLY_FX <- tibble(
  DFX_ID = numeric(),
  DATE = numeric(),
  FXUSDCAD = numeric()
)
MONTHLY_FX$DATE <- as.Date(MONTHLY_FX$DATE)

In [ ]:
head(CROP_DATA)
head(FARM_PRICES)
head(DAILY_FX)
head(MONTHLY_FX)

     CD_ID YEAR CROP_TYPE GEO SEEDED_AREA HARVESTED_AREA PRODUCTION AVG_YIELD

     CD_ID DATE CROP_TYPE GEO PRICE_PRERMT

     DFX_ID DATE FXUSDCAD

     DFX_ID DATE FXUSDCAD

## Problem 2
#### Read Datasets and Load Tables
Read the datasets into R dataframes using the urls provided above. Then load your tables.

###  Solution 2

In [ ]:
# Establish database connection
library(readr)

In [ ]:
# CROP_DATA:
crop_data <- read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork
/labs/Final%20Project/Annual_Crop_Data.csv", show_col_types = FALSE)
head(crop_data)

  CD_ID YEAR       CROP_TYPE GEO          SEEDED_AREA HARVESTED_AREA PRODUCTION
1 0     1965-12-31 Barley    Alberta      1372000     1372000        2504000
2 1     1965-12-31 Barley    Canada       2476800     2476800        4752900
3 2     1965-12-31 Barley    Saskatchewan  708000      708000        1415000
4 3     1965-12-31 Canola    Alberta       297400      297400         215500
5 4     1965-12-31 Canola    Canada        580700      580700         512600
6 5     1965-12-31 Canola    Saskatchewan  224600      224600         242700
  AVG_YIELD
1 1825
2 1920
3 2000
4  725
5  885
6 1080

In [ ]:
# FARM_PRICES:
farm_prices <- read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/
IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_Farm_Prices.csv", show_col_types = FALSE)
head(farm_prices)

  CD_ID DATE       CROP_TYPE GEO          PRICE_PRERMT
1 0     1985-01-01 Barley    Alberta      127.39
2 1     1985-01-01 Barley    Saskatchewan 121.38
3 2     1985-01-01 Canola    Alberta      342.00
4 3     1985-01-01 Canola    Saskatchewan 339.82
5 4     1985-01-01 Rye       Alberta      100.77
6 5     1985-01-01 Rye       Saskatchewan 109.75

In [ ]:
# DAILY_FX:
daily_fx <- read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/
IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Daily_FX.csv", show_col_types = FALSE)
head(daily_fx)

  DFX_ID DATE       FXUSDCAD
1 0      2017-01-03 1.3435
2 1      2017-01-04 1.3315
3 2      2017-01-05 1.3244
4 3      2017-01-06 1.3214
5 4      2017-01-09 1.3240
6 5      2017-01-10 1.3213

In [ ]:
# MONTHLY_FX:
monthly_fx <- read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/
IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_FX.csv", show_col_types = FALSE)
head(monthly_fx)

  DFX_ID DATE       FXUSDCAD
1 0      2017-01-01 1.319276
2 1      2017-02-01 1.310726
3 2      2017-03-01 1.338643
4 3      2017-04-01 1.344021
5 4      2017-05-01 1.360705
6 5      2017-06-01 1.329805

## Now execute SQL queries using the RODBC R package to solve the assignment problems.

## Problem 3
#### How many records are in the farm prices dataset?

### Solution 3

In [72]:
install.packages("sqldf")
library(sqldf)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependency ‘RSQLite’


Loading required package: gsubfn

Loading required package: proto

Warning message:
“no DISPLAY variable so Tk is not available”
Loading required package: RSQLite

In [167]:
num_records <- sqldf("SELECT COUNT(*)
                      FROM farm_prices")
print(num_records)


message <- paste("There are", num_records, "records in the farm prices dataset")
print(message)

  COUNT(*)
1     2678
[1] "There are 2678 records in the farm prices dataset"

## Problem 4
#### Which geographies are included in the farm prices dataset?

### Solution 4

In [170]:
unique_geo <- sqldf("SELECT DISTINCT GEO
                     FROM farm_prices")
print(unique_geo)

           GEO
1      Alberta
2 Saskatchewan
[1] "c(\"Alberta\", \"Saskatchewan\") are included in the farm prices dataset"

## Problem 5
#### How many hectares of Rye were harvested in Canada in 1968?

### Solution 5

In [171]:
crop_data$YEAR_text <- format(crop_data$YEAR, "%Y")

rye_1968_canada <- sqldf("SELECT SUM(HARVESTED_AREA) AS Total
                          FROM crop_data
                          WHERE CROP_TYPE = 'Rye'
                          AND GEO = 'Canada'
                          AND YEAR_text = '1968'")
print(rye_1968_canada)


message <- paste(rye_1968_canada, "hectares of rye were harvested.")
print(message)

   Total
1 274100
[1] "274100 hectares of rye were harvested."

## Problem 6
#### Query and display the first 6 rows of the farm prices table for Rye.

### Solution 6

In [107]:
rye_prices <- sqldf("SELECT *
                     FROM farm_prices
                     WHERE CROP_TYPE = 'Rye'
                     ORDER BY DATE ASC
                     LIMIT 6")
print(rye_prices)

  CD_ID       DATE CROP_TYPE          GEO PRICE_PRERMT
1     4 1985-01-01       Rye      Alberta       100.77
2     5 1985-01-01       Rye Saskatchewan       109.75
3    10 1985-02-01       Rye      Alberta        95.05
4    11 1985-02-01       Rye Saskatchewan       103.46
5    16 1985-03-01       Rye      Alberta        96.77
6    17 1985-03-01       Rye Saskatchewan       106.38

## Problem 7
#### Which provinces grew Barley?

### Solution 7

In [112]:
provinces_barley <- sqldf("SELECT DISTINCT GEO
                           FROM crop_data
                           WHERE CROP_TYPE = 'Barley'")
print(provinces_barley)

           GEO
1      Alberta
2       Canada
3 Saskatchewan

## Problem 8
#### Find the first and last dates for the farm prices data.

### Solution 8

In [115]:
farm_prices_dates <- sqldf("SELECT
                              DATE(MIN(DATE), 'unixepoch') AS First_Date,
                              DATE(MAX(DATE), 'unixepoch') AS Last_Date
                            FROM farm_prices")
print(farm_prices_dates)

  First_Date  Last_Date
1 1970-01-01 1970-01-01

## Problem 9
#### Which crops have ever reached a farm price greater than or equal to &#0036;350 per metric tonne?

### Solution 9

In [117]:
crops_above_350 <- sqldf("SELECT DISTINCT CROP_TYPE
                          FROM farm_prices
                          WHERE PRICE_PRERMT >= 350")
print(crops_above_350)

  CROP_TYPE
1    Canola

## Problem 10
#### Rank the crop types harvested in Saskatchewan in the year 2000 by their average yield. Which crop performed best?

### Solution 10

In [172]:
top_crop <- sqldf("SELECT *
                  FROM crop_data
                  WHERE GEO = 'Saskatchewan'
                  AND YEAR_text = '2000'
                  ORDER BY AVG_YIELD DESC
                  LIMIT 1")
print(top_crop)

  CD_ID       YEAR CROP_TYPE          GEO SEEDED_AREA HARVESTED_AREA PRODUCTION
1   422 2000-12-31    Barley Saskatchewan     2063900        1922300    5301600
  AVG_YIELD YEAR_text
1      2800      2000

In [173]:
best_crop <- top_crop$CROP_TYPE
best_yield <- top_crop$AVG_YIELD

message <- paste("The best one was", best_crop, "with an average yield of", best_yield, "per hectare.")
print(message)

[1] "The best one was Barley with an average yield of 2800 per hectare."

## Problem 11
#### Rank the crops and geographies by their average yield (KG per hectare) since the year 2000. Which crop and province had the highest average yield since the year 2000?

### Solution 11

In [175]:
ranked_crops <- sqldf("SELECT CROP_TYPE, GEO
                       FROM crop_data
                       WHERE YEAR_text >= '2000'
                       GROUP BY CROP_TYPE, GEO
                       ORDER BY AVG_YIELD DESC")
top_crop_province <- head(ranked_crops, 1)
print(top_crop_province)

  CROP_TYPE     GEO
1    Barley Alberta

## Problem 12
#### Use a subquery to determine how much wheat was harvested in Canada in the most recent year of the data.

### Solution 12

In [146]:
wheat_canada <- sqldf("
  SELECT SUM(HARVESTED_AREA) AS Total_Harvested_Wheat
  FROM crop_data
  WHERE CROP_TYPE = 'Wheat'
    AND GEO = 'Canada'
    AND YEAR = (SELECT MAX(YEAR) FROM crop_data)
")

print(wheat_canada)

  Total_Harvested_Wheat
1              10017800

## Problem 13
#### Use an implicit inner join to calculate the monthly price per metric tonne of Canola grown in Saskatchewan in both Canadian and US dollars. Display the most recent 6 months of the data.

### Solution 13

In [160]:
query <- "
  SELECT DISTINCT cp.CD_ID, cp.YEAR, cp.CROP_TYPE, cp.GEO, fp.PRICE_PRERMT AS PRICE_CAN,
         fp.PRICE_PRERMT / fx.FXUSDCAD AS PRICE_USD
  FROM crop_data cp
  INNER JOIN farm_prices fp ON cp.CROP_TYPE = fp.CROP_TYPE AND cp.GEO = fp.GEO
  LEFT JOIN monthly_fx fx ON strftime('%Y-%m', cp.YEAR) = strftime('%Y-%m', fx.DATE)
  WHERE cp.CROP_TYPE = 'Canola' AND cp.GEO = 'Saskatchewan'
  ORDER BY cp.YEAR DESC
  LIMIT 6
"

result <- sqldf(query)
print(result)

  CD_ID       YEAR CROP_TYPE          GEO PRICE_CAN PRICE_USD
1   665 2020-12-31    Canola Saskatchewan    176.96  139.0752
2   665 2020-12-31    Canola Saskatchewan    181.43  142.5882
3   665 2020-12-31    Canola Saskatchewan    182.21  143.2013
4   665 2020-12-31    Canola Saskatchewan    184.70  145.1582
5   665 2020-12-31    Canola Saskatchewan    184.81  145.2446
6   665 2020-12-31    Canola Saskatchewan    197.27  155.0371

Solutions by
Joice Oliveira in December, 2024


Author
Jeff Grossman

Contributor
Rav Ahuja

![footer](https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/zOMU1iwlZgwJXjWYzQAIgg/SNIBMfooter.png "footer")

<!--## Change log

| Date       | Version | Changed by    | Change Description                                                                                          |
| ---------- | ------- | ------------- | ----------------------------------------------------------------------------------------------------------- |
| 2021-04-01 | 0.7     | Jeff Grossman | Split Problem 1 solution cell into multiple cells, fixed minor bugs |
| 2021-03-12 | 0.6     | Jeff Grossman | Cleaned up content for production |
| 2021-03-11 | 0.5     | Jeff Grossman | Moved more advanced problems to optional honours module |
| 2021-03-10 | 0.4     | Jeff Grossman | Added introductory and intermediate level problems and removed some advanced problems |
| 2021-03-04 | 0.3     | Jeff Grossman | Moved some problems to a new practice lab as prep for this assignment
| 2021-03-04 | 0.2     | Jeff Grossman | Sorted problems roughly by level of difficulty and relegated more advanced ones to ungraded bonus problems  |
| 2021-02-20 | 0.1     | Jeff Grossman | Started content creation                                                                                    |-->